@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&display=swap");
@font-face {
  font-family: "Bestermind", sans-serif;
  src: url(fonts¾stermindRegular.ttf);
  font-weight: 400;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #AAA;
  background-color: #0C0B08;
  max-width: 100%;
}
body button {
  border: none;
  cursor: pointer;
}
body h2 {
  font-family: "Cormorant Upright";
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #DCCA87;
}
body h3 {
  font-family: "Cormorant Upright";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  text-align: center;
}
body a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  overflow-x: hidden;
}
.container .body__bg {
  background-image: url(/img/body-bg.png);
  background-size: cover;
}
.container header.header {
  width: 100%;
  padding: 1.6vw 6.25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container header.header img.logo {
  width: 10.36vw;
}
.container header.header nav.nav a {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  margin-left: 32px;
  transition: 0.3s;
}
.container header.header nav.nav a:hover {
  color: #DCCA87;
}
.container header.header .link__block {
  display: flex;
  align-items: center;
  gap: 2.6vw;
}
.container header.header .link__block a {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 600;
}
.container header.header .link__block img.line {
  height: 57px;
}
.container .head__block {
  padding: 1.6vw 6.25vw 7.1vw 6.25vw;
}
.container .grid__block {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 520px auto min-content;
  gap: 30px;
}
.container .grid__link {
  display: flex;
  align-items: center;
  height: 100%;
}
.container .grid__link .link__rotate {
  height: -moz-min-content;
  height: min-content;
  transform-origin: center left;
  transform: rotate(270deg);
}
.container .grid__link .link__rotate a {
  margin-left: 15px;
}
.container .grid__info {
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container .grid__info h2 {
  color: #fff;
  font-size: 23px;
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  padding-bottom: 8px;
}
.container .grid__info h1 {
  font-size: 5vw;
  font-weight: 700;
  font-family: "Cormorant Upright", serif;
  color: #DCCA87;
  line-height: 130%;
  text-transform: capitalize;
}
.container .grid__info p {
  padding: 32px 0;
  line-height: 175%;
}
.container .grid__info button.btn {
  color: #0C0B08;
  font-weight: 700;
  font-family: "Cormorant Upright", serif;
  background-color: #DCCA87;
  border: none;
  padding: 8px 32px;
}
.container .swiper {
  width: 461px;
  height: 100%;
}
.container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.container .navigation {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: span 5;
}
.container .counter {
  padding: 5px 0 10px 0;
  width: 40px;
  height: 40px;
  display: flex;
}
.container .grid__scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.container .grid__scroll .img__line {
  width: 1px;
  height: 61px;
  background: linear-gradient(-180deg, #DCCA87 -19.44%, #DCCA87 44.12%, rgba(220, 202, 135, 0.24) 117.57%);
}
.container .grid__scroll p {
  font-weight: 700;
  font-family: "Cormorant Upright", serif;
  text-transform: uppercase;
  color: #DCCA87;
  padding-top: 24px;
}
.container .about {
  width: 100%;
  background-image: url(/img/bgg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 60px 0;
}
.container .about__flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}
.container .about__us {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container .about__us p {
  text-align: right;
  letter-spacing: 0.04em;
  line-height: 175%;
  padding: 32px 0;
}
.container .about__us h2 {
  font-size: 3.33vw;
  color: #DCCA87;
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  padding-bottom: 8px;
}
.container .about__us button {
  padding: 8px 32px;
  background-color: #DCCA87;
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-size: 16px;
  color: #0C0C0C;
  line-height: 175%;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}
.container .center__block img {
  width: 5vw;
}
.container .our {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .our p {
  letter-spacing: 0.04em;
  line-height: 175%;
  padding: 32px 0;
}
.container .our h2 {
  font-size: 3.33vw;
  color: #DCCA87;
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  padding-bottom: 8px;
}
.container .our button {
  padding: 8px 32px;
  background-color: #DCCA87;
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-size: 16px;
  color: #0C0C0C;
  line-height: 175%;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}
.container .book {
  width: 100%;
  position: relative;
  padding: 150px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .anim__logo {
  width: 146px;
  height: 146px;
  position: absolute;
  right: 130px;
  top: -20px;
  overflow: hidden;
}
.container svg.logo-spoon {
  position: absolute;
  animation: circle normal infinite 30s linear;
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
.container .book__body {
  border: 1px solid rgba(220, 202, 135, 0.2);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  padding: 48px 32px;
  width: 80%;
  background-color: #0C0C0C;
}
.container .book__title {
  text-align: center;
}
.container .book__title h3 {
  font-family: "Cormorant Upright", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  color: #fff;
}
.container .book__title h2 {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #DCCA87;
}
.container form.book__form {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container form.book__form select {
  border: 1px solid #F5EFDB;
  background: none;
  color: rgba(255, 255, 255, 0.4509803922);
  outline: none;
  width: 60%;
  padding: 16px;
  font-size: 16px;
}
.container form.book__form select option {
  background: #0C0C0C;
  color: #DCCA87;
}
.container form.book__form .input {
  width: 100%;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.container form.book__form button {
  background-color: #DCCA87;
  padding: 8px 32px;
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border: none;
  margin: 64px 0 0 0;
}
.container .menu {
  width: 100%;
  background-image: url(/img/stacan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  padding: 10px 0 0 0;
  height: 100vh;
  margin-bottom: 100px;
}
.container .anim__logo1 {
  position: relative;
  margin-left: 130px;
}
.container svg.logo-spoon1 {
  position: absolute;
  animation: circle1 normal infinite 30s linear;
}
.container .stop__animation1 {
  position: absolute;
}
@keyframes circle1 {
  100% {
    transform: rotate(-360deg);
  }
}
.container .menu__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.container .menu__link a {
  font-family: "Cormorant Upright";
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: 0.03em;
  text-align: left;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.container .menu__link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: 0.5s ease-in;
}
.container .menu__link a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
  bottom: 0;
  transform: scale(1);
  transition: 0.5s ease-in;
}
.container .book__title {
  padding-bottom: 64px;
}
.container .drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}
.container .drinks a.drinks__more-bar {
  background-color: #DCCA87;
  padding: 8px 32px;
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border: none;
  color: #000;
}
.container .drinks__map {
  max-width: 80%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: auto;
  padding-bottom: 85px;
}
.container .map__card {
  flex: 1;
}
.container h3.card__title {
  font-family: "Cormorant Upright";
  font-size: 45px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding-bottom: 49px;
  padding-top: 32px;
}
.container .card__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.container .card-item {
  display: flex;
  align-items: center;
}
.container .card-item h4 {
  font-family: "Cormorant Upright";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #DCCA87;
  flex: 1;
}
.container .card-item p {
  font-family: "Cormorant Upright";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding-left: 20px;
}
.container .line-item {
  background: #fff;
  width: 119px;
  height: 1px;
}
.container .card-tag {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  padding-top: 8px;
}
.container .animate-counter {
  animation: counterAnimation 0.3s ease-in-out forwards;
  color: #fff;
}
@keyframes counterAnimation {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  50% {
    opacity: 0;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container a.drinks__more {
  background-color: #DCCA87;
  padding: 8px 32px;
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border: none;
  color: #000;
  margin: auto;
}
.container .swiper-team {
  width: 100%;
}
.container .swiper-team .team {
  width: 100%;
  padding: 100px;
  display: flex;
}
.container .swiper-team .team .team__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 96px;
  background-size: cover;
  background-position: center;
  max-width: 90%;
}
.container .swiper-team .team__photo {
  width: 43%;
}
.container .swiper-team .team__title {
  width: 50%;
  display: flex;
  row-gap: 60px;
  flex-direction: column;
  justify-content: space-between;
}
.container .swiper-team .team__title-item {
  text-align: left;
}
.container .swiper-team .team__title-item img {
  width: 40px;
  height: 10px;
}
.container .swiper-team .team__title-item img.kav {
  width: 47px;
  height: 40px;
}
.container .swiper-team .team__title-item h2,
.container .swiper-team .team__title-item h3 {
  text-align: left;
}
.container .swiper-team .team__title-item h5 {
  font-family: "Cormorant Upright";
  font-size: 32px;
  color: #DCCA87;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-align: left;
}
.container .swiper-team .team__title-item p {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
}
.container .swiper-team .team__title-item p.shef {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  font-style: normal;
}
.container .swiper-team .team__title-item img.kevin {
  width: 235px;
  height: 83px;
}
.container .customers {
  width: 100%;
  padding: 150px 20px;
  position: relative;
  background: none;
}
.container .customers .customers__logo {
  position: absolute;
  right: 100px;
  top: -30px;
}
.container .customers .customers__logo .logo-spoon {
  z-index: 20;
}
.container .customers .customers__title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 65px;
}
.container .customers .customers__title h3 {
  padding-bottom: 8px;
}
.container .customers .customers__title h2 {
  text-transform: capitalize;
}
.container .customers .customers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin: auto;
}
.container .customers .customers__card {
  display: flex;
  height: -moz-max-content;
  height: max-content;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.container .customers .customers__card p {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  max-width: 412px;
  padding-bottom: 15px;
}
.container .customers .customers__card h3 {
  font-family: "Cormorant Upright";
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #DCCA87;
}
.container .customers .customers__card span {
  color: #F5EFDB;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
}
.container .video {
  width: 100%;
  height: 95vh;
  overflow: hidden;
}
.container .video__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .video__container video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.container .video__container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
.container .video__container #video-iconPause {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  display: none;
  opacity: 1;
  transition: opacity 0.3s;
}
.container .video__container #video-iconPause:hover {
  opacity: 0;
}
.container #video-icon {
  opacity: 1;
  transition: opacity 0.3s;
}
.container #video-icon:hover {
  opacity: 0;
}
.container .video__logo {
  position: absolute;
  top: 50px;
  left: 100px;
  opacity: 0.3;
}
.container .video__logo .logo-spoon {
  animation: none;
}
.container .our__item {
  max-width: 100%;
  background-image: url(/img/BG.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 128px 25px;
}
.container .our__item .our__body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 110px;
       column-gap: 110px;
  max-width: 85%;
}
.container .our__item .our__body .our__item-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}
.container .our__item .our__body .our__item-item img.G {
  max-width: 80%;
}
.container .our__item .our__body .our__title {
  padding-bottom: 60px;
}
.container .our__item .our__body .our__title h2,
.container .our__item .our__body .our__title h3 {
  text-align: left;
}
.container .our__item .our__body .our__laurels {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.container .our__item .our__body .our__laurels .our__laurels-flex {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.container .our__item .our__body .laurels__card {
  display: flex;
  align-items: center;
  row-gap: 60px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.container .our__item .our__body .laurels__txt {
  max-width: 200px;
}
.container .our__item .our__body .laurels__txt h4 {
  font-family: "Cormorant Upright";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #DCCA87;
  padding-bottom: 8px;
}
.container .updates {
  padding: 150px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .updates .updates__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.container .updates .updates__title h3 {
  padding-bottom: 7px;
}
.container .updates .updates__menu {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.container .updates .updates__menu-item {
  width: -moz-min-content;
  width: min-content;
}
.container .updates .updates__menu-item p {
  padding: 32px 0;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
}
.container .updates .updates__menu-item a {
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #DCCA87;
}
.container .updates .hidden {
  display: none;
}
.container .updates .dateName {
  display: flex;
  justify-content: space-between;
}
.container .updates .dateName p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  padding: 24px 0 32px 0;
}
.container .updates .updates__menu-title a {
  font-family: "Cormorant Upright";
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #DCCA87;
  text-transform: capitalize;
}
.container .updates .updates__menu-title a:hover {
  text-decoration: underline;
}
.container .galery {
  width: 100%;
  padding: 128px 0 128px 135px;
  background-color: rgba(0, 0, 0, 0.4078431373);
  display: flex;
  gap: 24px;
}
.container .galery .galery__title {
  max-width: 33%;
}
.container .galery .galery__title h2,
.container .galery .galery__title h3 {
  text-align: left;
}
.container .galery .galery__title p {
  padding: 24px 0;
}
.container .galery .galery__title a.galery__view {
  background-color: #DCCA87;
  padding: 8px 32px;
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border: none;
  color: #000;
}
.container .galery .swiper-galery {
  flex: 1;
  height: 449px;
  width: 1633px;
  overflow: hidden;
}
.container .galery .swiper-slide {
  position: relative;
}
.container .galery .swiper-slide img {
  height: 447px;
  width: 301px;
}
.container .galery .swiper-slide::before {
  content: url("/img/Hover.png");
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.2s ease-in;
}
.container .galery .swiper-slide:hover::before {
  content: url("/img/Hover.png");
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  cursor: pointer;
}
.container .news__footer {
  background-image: url(/img/bg-shef1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}
.container .news__footer .news {
  position: relative;
  width: 100%;
  padding: 113px 20px 128px 20px;
  display: flex;
  justify-content: center;
}
.container .news__footer .news .news__logo {
  position: absolute;
  left: 100px;
  top: -70px;
}
.container .news__footer .news .news__form {
  width: 100%;
  border: 1px solid rgba(220, 202, 135, 0.2);
  padding: 64px 25px;
  max-width: 80%;
  position: relative;
  background-color: #0C0C0C;
}
.container .news__footer .news .news__form .news__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.container .news__footer .news .news__form .news__title h3 {
  padding-bottom: 8px;
}
.container .news__footer .news .news__form .news__title span {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #fff;
}
.container .news__footer .news .news__form .news__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  background-color: #0C0C0C;
}
.container .news__footer .news .news__form .news__footer input {
  background-color: #0C0C0C;
  outline: none;
  border: 1px solid #F5EFDB;
  height: 60px;
  width: 635px;
  padding-left: 19px;
  color: #AAA;
}
.container .news__footer .news .news__form .news__footer input::-moz-placeholder {
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.04em;
}
.container .news__footer .news .news__form .news__footer input::placeholder {
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.04em;
}
.container .news__footer .news .news__form .news__footer button {
  background-color: #DCCA87;
  padding: 8px 32px;
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border: none;
}
.container .news__footer .news .news__scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: -35px;
  right: -130px;
  text-transform: uppercase;
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #DCCA87;
  cursor: pointer;
}
.container .news__footer .news .news__scroll .img__line {
  width: 1px;
  height: 61px;
  background: linear-gradient(-180deg, #DCCA87 -19.44%, #DCCA87 44.12%, rgba(220, 202, 135, 0.24) 117.57%);
}
.container .news__footer .footer {
  width: 100%;
  padding: 128px 25px;
}
.container .news__footer .footer .footer__title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.container .news__footer .footer .contact {
  text-align: center;
  padding-top: 25px;
  flex: 1;
}
.container .news__footer .footer .contact h4 {
  font-family: "Cormorant Upright";
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.04em;
  color: #F5EFDB;
}
.container .news__footer .footer .contact p {
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #AAA;
  padding: 24px 0 8px 0;
}
.container .news__footer .footer .contact a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #AAA;
}
.container .news__footer .footer .sosial {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.container .news__footer .footer .sosial h2 {
  text-transform: uppercase;
}
.container .news__footer .footer .sosial p {
  padding: 32px 0 10px 0;
  color: #fff;
  max-width: 75%;
}
.container .news__footer .footer .sosial__item {
  padding-top: 18px;
}
.container .news__footer .footer .sosial__item a {
  padding-left: 16px;
}
.container .news__footer .footer .work {
  text-align: center;
  padding-top: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .news__footer .footer .work h4 {
  font-family: "Cormorant Upright";
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.04em;
  color: #F5EFDB;
  padding-bottom: 24px;
}
.container .news__footer .footer .work p {
  max-width: 30%;
  padding-bottom: 8px;
}
.container .news__footer .footer .develop {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .news__footer .footer .develop p {
  display: block;
  text-align: center;
  padding-top: 60px;
}
.container .news__footer .footer .develop a {
  color: #DCCA87;
}/*# sourceMappingURL=main.css.map */